    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(135deg, #c2e0ff, #ffb3d6);
        padding: 10px;
    }
    
    .toDo {
        width: 100%;
        max-width: 500px;
        background-color: rgba(255, 255, 255, 0.75);
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
    }
    
    .toDo h1 {
        margin-bottom: 30px;
        font-size: 30px;
        color: #232323;
        display: flex;
        align-items: center;
    }
    
    .toDo h1 img {
        width: 30px;
        margin-left: 10px;
    }
    
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #eaeaea;
        border-radius: 30px;
        padding-left: 10px;
        margin-bottom: 25px;
    }
    
    input {
        flex: 1;
        border: none;
        outline: none;
        padding: 10px;
        background: transparent;
        font-size: 16px;
    }
    
    button {
        border: none;
        outline: none;
        padding: 10px 20px;
        background: #7f49d7;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 40px;
    }
    
    #listContainer li {
        list-style: none;
        padding: 12px 8px 10px 50px;
        font-size: 17px;
        border-bottom: 1px solid #ccc;
        user-select: none;
        cursor: pointer;
        position: relative;
    }
    
    #listContainer li::before {
        content: "\2610";
        position: absolute;
        font-size: 22px;
        left: 10px;
        bottom: 6px;
    }
    
    #listContainer li.done {
        color: #888;
        text-decoration: line-through;
    }
    
    #listContainer li.done::before {
        content: "\2611";
        color: #27ae60;
    }
    
    #listContainer li span {
        position: absolute;
        right: 0;
        top: 0px;
        color: #888;
        width: 40px;
        height: 40px;
        font-size: 22px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
    }
    
    #listContainer li span:hover {
        background: #ccc;
        color: #fff;
    }